{% extends "base.html" %}

{% block content %}
    <div class="main-header">
        <span class="header-year">2025-2학기</span>
        <h2 class="main-title">{{ course_name }}</h2>
    </div>

    <div class="week-list-container">
        <div class="week-item">
            <div class="week-header">
                <span class="week-number">1주차</span>
                <span class="week-date">학습기간: 25.08.25 ~ 25.09.30</span>
            </div>
            <div class="learning-content">
                <div class="learning-material">
                    <span class="material-type">교육자료 | 출석인정시간: 60분</span>
                    <span class="study-time">학습시간: 60분</span>
                </div>
                <div class="material-buttons">
                    <button class="btn btn-study">학습안내</button>
                    <button class="btn btn-review">복습하기</button>
                </div>
            </div>
        </div>
        <div class="week-item">
            <div class="week-header">
                <span class="week-number">2주차</span>
                <span class="week-date">학습기간: 25.08.27 ~ 25.10.31</span>
            </div>
            <div class="learning-content">
                <div class="learning-material">
                    <span class="material-type">교육자료 | 출석인정시간: 60분</span>
                    <span class="study-time">학습시간: 60분</span>
                </div>
                <div class="material-buttons">
                    <button class="btn btn-study">학습안내</button>
                    <button class="btn btn-review">복습하기</button>
                </div>
            </div>
        </div>
        </div>
{% endblock %}